Application/TriviaClient/SimpleDatabaseApplication/SimpleDatabaseApplication/Service References/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ChatCallbacks" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ChatCallbacks" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ChatCallbacks/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ChatServiceMDW/Service1/?xsd=xsd0" namespace="ChatCallbacks" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ChatServiceMDW/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChat_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IChat_AddMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IChat_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IChat_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IChat_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IChat_UnSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IChat_PrivateSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:PrivateSubscribe" />
  </wsdl:message>
  <wsdl:message name="IChat_PrivateSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrivateSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IChat_AddPrivateMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPrivateMessage" />
  </wsdl:message>
  <wsdl:message name="IChat_AddPrivateMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPrivateMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IChat_onMessageAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onMessageAdded" />
  </wsdl:message>
  <wsdl:message name="IChat_OnOnline_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnOnline" />
  </wsdl:message>
  <wsdl:portType name="IChat">
    <wsdl:operation name="AddMessage">
      <wsdl:input wsaw:Action="ChatCallbacks/IChat/AddMessage" message="tns:IChat_AddMessage_InputMessage" />
      <wsdl:output wsaw:Action="ChatCallbacks/IChat/AddMessageResponse" message="tns:IChat_AddMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="ChatCallbacks/IChat/Subscribe" message="tns:IChat_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="ChatCallbacks/IChat/SubscribeResponse" message="tns:IChat_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input wsaw:Action="ChatCallbacks/IChat/UnSubscribe" message="tns:IChat_UnSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="ChatCallbacks/IChat/UnSubscribeResponse" message="tns:IChat_UnSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrivateSubscribe">
      <wsdl:input wsaw:Action="ChatCallbacks/IChat/PrivateSubscribe" message="tns:IChat_PrivateSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="ChatCallbacks/IChat/PrivateSubscribeResponse" message="tns:IChat_PrivateSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPrivateMessage">
      <wsdl:input wsaw:Action="ChatCallbacks/IChat/AddPrivateMessage" message="tns:IChat_AddPrivateMessage_InputMessage" />
      <wsdl:output wsaw:Action="ChatCallbacks/IChat/AddPrivateMessageResponse" message="tns:IChat_AddPrivateMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="onMessageAdded">
      <wsdl:output wsaw:Action="ChatCallbacks/IChat/onMessageAdded" message="tns:IChat_onMessageAdded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnOnline">
      <wsdl:output wsaw:Action="ChatCallbacks/IChat/OnOnline" message="tns:IChat_OnOnline_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>